---

---

<div class="mt-H3">
    <div class="grid grid-cols-4 gap-P md:grid-cols-8 lg:grid-cols-12">
        <h1
            class="text-H6 text-gray-10 font-hind font-bold md:col-start-2 lg:col-start-3"
        >
            Projects
        </h1>

        <div
            class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-3 lg:col-span-8 grid gap-P grid-cols-4 md:grid-cols-6 lg:grid-cols-8"
        >
            <img
                class="object-cover aspect-square mb-P col-span-2"
                src="https://picsum.photos/800/600"
            />
            <img
                class="object-cover aspect-square mb-P col-span-2"
                src="https://picsum.photos/800/600"
            />
            <img
                class="object-cover aspect-square mb-P col-span-2"
                src="https://picsum.photos/800/600"
            />
            <img
                class="object-cover aspect-square mb-P col-span-2"
                src="https://picsum.photos/800/600"
            />
            <img
                class="object-cover aspect-square mb-P col-span-2"
                src="https://picsum.photos/800/600"
            />
            <img
                class="object-cover aspect-square mb-P col-span-2"
                src="https://picsum.photos/800/600"
            />
            <img
                class="object-cover aspect-square mb-P col-span-2"
                src="https://picsum.photos/800/600"
            />
            <img
                class="object-cover aspect-square mb-P col-span-2"
                src="https://picsum.photos/800/600"
            />
            <img
                class="object-cover aspect-square mb-P col-span-2"
                src="https://picsum.photos/800/600"
            />
        </div>
    </div>
</div>
