---
import GitHubIcon from "./icons/GitHubIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import TelegramIcon from "./icons/TelegramIcon.astro";
import WhatsAppIcon from "./icons/WhatsAppIcon.astro";
import XIcon from "./icons/XIcon.astro";
---

<div class="hidden md:flex w-H6 flex-col justify-center display fixed bottom-0 left-H4">
    <a
        title="Find me on Github"
        target="_blank"
        href="https://github.com/BrianStefanovich/"
    >
        <GitHubIcon
            className="mb-H6 text-primary-40 hover:text-tertiary-40 hover:translate-y-[-4px] transition-all ease-in-out"
        />
    </a>
    <a
        title="Find me on X"
        target="_blank"
        href="https://x.com/bstefanovich"
    >
        <XIcon
            className="mb-H6 text-primary-40 hover:text-tertiary-40 hover:translate-y-[-4px] transition-all ease-in-out"
        />
    </a>
    <a
        title="Find me on Linked In"
        target="_blank"
        href="https://www.linkedin.com/in/brian-stefanovich"
    >
        <LinkedInIcon
            className="mb-H6 text-primary-40 hover:text-tertiary-40 hover:translate-y-[-4px] transition-all ease-in-out"
        />
    </a>
    <a
        title="Find me on Instagram"
        target="_blank"
        href="https://www.instagram.com/b_stefanovich/"
    >
        <InstagramIcon
            className="mb-H6 text-primary-40 hover:text-tertiary-40 hover:translate-y-[-4px] transition-all ease-in-out"
        />
    </a>
    <span class="bg-primary-40 w-[2px] h-H3 mx-auto"></span>
</div>

<div class="hidden md:flex w-H6 flex-col justify-center display fixed bottom-0 right-H4">
    <a
        title="Write me on WhatsApp"
        target="_blank"
        href="https://wa.me/59894419518"
    >
        <WhatsAppIcon
            className="mb-H6 text-primary-40 hover:text-tertiary-40 hover:translate-y-[-4px] transition-all ease-in-out"
        />
    </a>
    <a
        title="Write me on Telegram"
        target="_blank"
        href="https://t.me/BrianStefanovich"
    >
        <TelegramIcon
            className="mb-H6 text-primary-40 hover:text-tertiary-40 hover:translate-y-[-4px] transition-all ease-in-out"
        />
    </a>
    <a
        title="Send me an eMail"
        href="mailto:stefanovich.brian@gmail.com"
        class="[writing-mode:vertical-lr] mb-H6 text-primary-40 hover:text-tertiary-40 hover:translate-y-[-4px] transition-all ease-in-out"
    >
        stefanovich.brian@gmail.com
    </a>
    <span class="bg-primary-40 w-[2px] h-H2 mx-auto"></span>
</div>