---
import Button from "./Button.astro"
---

<div class="mt-H1 grid grid-cols-4 gap-P md:grid-cols-8 lg:grid-cols-12">
    <h4 class="col-span-4 text-H4 font-montserrat font-bold mb-H6 text-gray-10 md:col-start-2 md:col-span-6 lg:col-start-3 lg:col-span-8">Brian <br/> Stefanovich</h4>
    <h6 class="col-span-4 text-H6 font-hind text-gray-10 mb-P md:col-start-2 md:col-span-6 lg:col-start-3 lg:col-span-8"> Senior FullStack Developer </h6>
    <div class="md:hidden col-span-4 md:col-start-2">
        <Button />
    </div>
</div>